/* Akimaki layout */

body {
    /* background-color:black; */
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.menu .menu-section-label {
    background-color: #ffc600; 
    color: #000;
}

.menu .menu-section-label:hover {
    /* background-color: #772323; */
    /* color: #DEAC7F; */
}

.menu .menu-section-active .menu-section-label {
    background-color: #772323;
    /* color: #DEAC7F; */
    color: white;
}

.menu li>span {
    background-color: #772323;
    /* color: #DEAC7F; */
    color: white; 
}

